*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 400px;
    height: 220px;
    background-color: black;
    border-radius: 16px;
    color: aliceblue;
    padding: 15px 15px;
}
img{
    width: 85px;
    height: 70px;
}
.content{
    color: aliceblue;
    padding: 10px 7px;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.card{
    padding: 20px 5px;
}

