*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    box-shadow: 50px;
    border: 1px solid black;

}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
} 
li{
    padding: 0px 20px;
}
.btn{

    border: 1px solid #5777ba;
    text-decoration: none;
    padding: 8px 15px; 
    border-radius: 20px;
}
.titlle{
    margin: -15px;
    color:  #5777ba;
}
